*~
dist

**/.vscode
.tags
**/archive
dist*
**/tmp

conzone/config/client_session_key.aes

*.hi
*.o
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
.hsenv*
cabal-dev/
.stack-work/
.stack-work-devel/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
Thumbs.db
*.swp
*.keter
*~
\#*
conzone.cabal
*.lock
*.backup

.Rproj.user
.RData
.Rhistory
.dir-locals.el

*.bbl
*.aux
*.log
*.synctex.gz
*.blg

~$*
*.code-workspace
**/node_modules

secrets.md

